# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.idea/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
vendored/
*.egg

# Serverless directories
.serverless